html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* !!! CSS RESET !!! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Basis Grotesque';
  src: url("../fonts/basisgrotesque-medium-webfont.woff2") format("woff2"), url("../fonts/basisgrotesque-medium-webfont.woff") format("woff"), url("../fonts/BasisGrotesque-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
#site {
  background-color: #000;
  color: #fff;
  font-family: 'Basis Grotesque', sans-serif;
  overflow-x: hidden;
  /*mailchimp styling*/ }
  #site #about_image_preload {
    width: 100%; }
  @media screen and (max-width: 740px) {
    #site .mobile {
      display: none !important; } }
  #site.fix {
    overflow: hidden; }
  #site h1,
  #site h2,
  #site p {
    text-align: center;
    margin: 0; }
  #site h1 {
    font-size: 3rem;
    letter-spacing: 0.05em; }
    #site h1 br {
      display: none; }
    @media screen and (max-width: 740px) {
      #site h1 {
        font-size: 4.4rem;
        line-height: 1.15em; }
        #site h1 br {
          display: block; } }
  #site #title {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  #site h2 br {
    display: none; }
  @media screen and (max-width: 740px) {
    #site h2 br {
      display: block; } }
  #site h2,
  #site p {
    font-size: 1.3rem;
    line-height: 1.2em; }
    @media screen and (max-width: 740px) {
      #site h2,
      #site p {
        font-size: 2.5rem; } }
  #site .top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; }
  #site .content {
    /*position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 99vh;
    height: 66vh;*/
    width: 99vh;
    height: auto;
    margin: 17vh auto 2rem auto;
    /*overflow: hidden;*/ }
    @media screen and (max-width: 740px) {
      #site .content {
        top: 0 !important;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        position: static;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin-top: 9%;
        padding: 0 5rem;
        width: 100% !important;
        height: auto !important;
        overflow: auto; } }
  #site #right,
  #site #left {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 100;
    display: none; }
    @media screen and (max-width: 740px) {
      #site #right,
      #site #left {
        display: none; } }
  #site #left {
    left: 0; }
    #site #left:hover {
      cursor: url(../images/arrow-left.png), w-resize; }
  #site #right {
    right: 0; }
    #site #right:hover {
      cursor: url(../images/arrow-right.png), e-resize; }
  #site #content_container {
    position: relative;
    width: 100%;
    z-index: 1; }
    #site #content_container.animate {
      transition: transform ease 0.3s;
      -webkit-transition: transform ease 0.3s; }
    @media screen and (max-width: 740px) {
      #site #content_container {
        position: static;
        left: auto !important;
        top: 0 !important;
        width: 100%;
        margin-top: 7rem;
        margin-bottom: 7rem;
        height: auto;
        -webkit-transform: translateX(0) !important;
        transform: translateX(0) !important; } }
  #site .image1,
  #site .image2 {
    display: block;
    width: 100%;
    margin-bottom: 17vh;
    /*background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;*/ }
    @media screen and (max-width: 740px) {
      #site .image1,
      #site .image2 {
        display: block;
        width: 100%;
        margin-bottom: 5rem; } }
  #site .image1 {
    /*background: url(../images/1.jpg);*/ }
  #site .image2 {
    /*background: url(../images/2.jpg);*/ }
  #site #content_text {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 0 17vh 0;
    vertical-align: top;
    /*background-color: #3399cc;*/
    text-align: center;
    z-index: 1;
    white-space: initial;
    overflow: scroll; }
    #site #content_text h2 {
      font-size: 1.3rem;
      margin-bottom: 1em; }
      @media screen and (max-width: 740px) {
        #site #content_text h2 {
          font-size: 2.5rem; } }
    #site #content_text p {
      font-size: 0.9rem; }
      #site #content_text p a:link,
      #site #content_text p a:visited {
        color: white; }
      @media screen and (max-width: 740px) {
        #site #content_text p {
          font-size: 2rem; } }
    @media screen and (max-width: 740px) {
      #site #content_text {
        display: block;
        width: 100%;
        padding-bottom: 5rem; } }
  #site .about {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 13%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-image: url("../images/STAR_BACKGROUND.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1000; }
    @media screen and (max-width: 740px) {
      #site .about {
        padding: 0 10rem; } }
    #site .about img {
      width: 55%;
      display: block;
      margin: 5% auto; }
      @media screen and (max-width: 740px) {
        #site .about img {
          width: 70%; } }
    #site .about p {
      width: 100%;
      padding-bottom: 5rem; }
      @media screen and (max-width: 740px) {
        #site .about p {
          padding-bottom: 10rem; } }
  #site .bottom {
    /*form{
      position: fixed;
      bottom: 1.5rem;
      left: 2rem;
      z-index: 100;
    }*/ }
    #site .bottom #waitlist {
      position: fixed;
      width: 100%;
      bottom: 1rem;
      left: 0;
      text-align: center;
      display: inline-block;
      z-index: 10; }
      @media screen and (max-width: 740px) {
        #site .bottom #waitlist {
          left: 0;
          right: 0;
          width: 25rem;
          margin: auto;
          text-align: left; } }
      @media screen and (max-width: 550px) {
        #site .bottom #waitlist {
          left: 0;
          right: 0;
          width: 27rem;
          margin: auto;
          text-align: left; } }
      #site .bottom #waitlist h1,
      #site .bottom #waitlist #mc_embed_signup {
        vertical-align: middle;
        display: inline-block; }
      #site .bottom #waitlist h1 {
        margin-bottom: 0.3rem; }
        #site .bottom #waitlist h1 br {
          display: none; }
        @media screen and (max-width: 740px) {
          #site .bottom #waitlist h1 {
            display: inline;
            text-align: left;
            line-height: 1.15em; }
            #site .bottom #waitlist h1 br {
              display: block; } }
      #site .bottom #waitlist #mc_embed_signup {
        margin-left: 1rem; }
    #site .bottom a:link,
    #site .bottom a:visited {
      color: #fff;
      text-decoration: none; }
      #site .bottom a:link img,
      #site .bottom a:visited img {
        display: none; }
        @media screen and (max-width: 740px) {
          #site .bottom a:link img,
          #site .bottom a:visited img {
            display: block;
            bottom: 2rem;
            left: 2rem;
            text-align: left; } }
    #site .bottom #contact {
      position: fixed;
      bottom: 1.5rem;
      left: 2rem;
      z-index: 100; }
      @media screen and (max-width: 740px) {
        #site .bottom #contact {
          display: none; } }
    #site .bottom #contact_img {
      z-index: 100; }
    #site .bottom img {
      position: fixed;
      bottom: 1.2rem;
      right: 2rem;
      z-index: 2000;
      width: 4.2%; }
      @media screen and (max-width: 740px) {
        #site .bottom img {
          width: 11.9%;
          bottom: 2rem; } }
  #site #toggle_about:hover {
    cursor: pointer; }
  #site ::-webkit-input-placeholder {
    color: #fff;
    opacity: 1; }
  #site ::-moz-placeholder {
    color: #fff;
    opacity: 1; }
  #site :-ms-input-placeholder {
    color: #fff;
    opacity: 1; }
  #site :-moz-placeholder {
    color: #fff;
    opacity: 1; }
  #site form {
    /*height: 1rem;*/ }
  #site #mc_embed_signup_scroll {
    /*height: 1.5rem;*/ }
  #site #mc-embedded-subscribe-form {
    padding-top: 0;
    /*height: 1.5rem;*/
    /*margin-bottom: 0.25rem;*/ }
  #site input[type="email"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0.3rem 0 0.3rem 0.7rem;
    width: 15rem;
    font-size: 1.6rem;
    text-align: center;
    /*margin-bottom: 0.2rem;*/
    /*line-height: 1.5rem;*/
    /*height: 1.5rem;*/
    /*width: 7rem;*/
    color: #fff;
    opacity: 1;
    border: 1px solid white;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    vertical-align: middle; }
    @media screen and (max-width: 740px) {
      #site input[type="email"] {
        font-size: 2rem;
        border: 2px solid white; } }
  #site input:focus {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 1px solid white;
    outline: none; }
  #site input, #site select, #site textarea {
    color: #fff;
    -moz-appearance: none;
    -webkit-appearance: none; }
  #site #mce-EMAIL {
    background-color: transparent;
    box-shadow: none; }
  #site #mc-embedded-subscribe {
    position: absolute;
    width: 0;
    height: 0;
    border: none;
    padding: 0px; }

/*# sourceMappingURL=main.css.map */
